body {
    color:#024e76;
    font-family: Helvetica, Arial, sans-serif;
  }
  header {
    font-size: 30px;
    color: #024e76;
    padding: 20px 35px;
    background-color: #024e76;
    display:flex;
    flex-wrap: wrap;
    justify-content: space-between;
    
  }
  header h1 {
    
    color:#024e76;
    font-weight: bold;
    font-size: 36px;
    margin: 0;
    background-color:#39a6b2 ;
    
  }
  header a {
    text-decoration: none;
   }
  header nav {
    float: right;
    margin: 0px 0px;
  }
  header nav ul li {
    display: inline;
    color: #39a6b2;
  }
  header nav ul li a {
    margin: 0px 30px;
    font-weight: lighter;
    font-size: 22px;
    color: #39a6b2 ;
  }
  
  
  
  * {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  section {
    padding: 60px;
    
   
   
  }
  
  
  .hero {
    
    height: 600px;
    background-image: url("../images/chevron.jpg");
    background-size: cover;
    background-position: center;
      
  }
  
  
  .hero h2 {
    float: right;
    font-size: 40px;
    font:bold;
    color: #024e76;
    background-color: #39a6b2;
    width:fit-content;
  }
  
  
  
    .section-title {
      font-size: 30px;
      color: #024e76;
      margin-bottom: 35px;
      margin-right: 30px;
      padding: 0 100px 20px 100px;
      display: flex;
      flex-wrap: wrap;
      float: left;
      width: 20%;
      text-align: right;
      
  }
  .primary-border {
    border-color: #fce138;
  }
  
  
   
  .intro {
    display: flex;
    flex-wrap: wrap;
  }
  
  .intro p {
    line-height: 1.7;
    color: #024e76;
    width: 70%;
    font-size: 20px;
    padding-left: 80px;
    
    
  }
  
  
  
  
  .work {
  
   display: flex;
    flex-wrap: wrap;
    justify-items:space-between;
    float: right;
    width: 80%;
    
    
  
  
  
  }
  
  .project  {
    display: flex;
    flex-direction: row;
    
     
    float: right;
    justify-content:space-between;
     width: 260px;
    height: 150px;
    border: 3px solid;
    color: #39a6b2;

    margin-bottom: 20px;
    margin-right: 10px;
    margin-top: 20px;


     
  }
  
  .name {
    display: inline;
    background-color: #39a6b2;
    width: 150px;
    height: 60px;
    margin-top: 25px;
     
  }
  
  .project h3 {
    font-size: 12px;
    font-style: bold;
    color: #024e76;
    text-align: center;
    margin-top: 10px;
  }
  
  
  .project h4 {
    font-size: 8px;
    color: #024e76;
    text-align: center;
    
  }
  
  
 
  
    
  
  
  
  
  
  .hero {
    background-position: bottom;
    height: auto;
    text-align: center;
    margin-bottom: 40px;
  }
  
  
  
  .contact { 
    margin-top: 400px;
  }
  
  
  
  
       



       



    
    

