body {
    color:#024e76;
    font-family: Helvetica, Arial, sans-serif;
    padding: 40px
  }
  header {
    font-size: 30px;
    color: #024e76;
    padding: 20px 35px;
    background-color: #024e76;
    display:flex;
    flex-wrap: wrap;
    justify-content: space-between;
    
  }
  header h1 {
    
    color:#024e76;
    font-weight: bold;
    font-size: 36px;
    margin: 0;
    background-color:#39a6b2 ;
    
  }
  header a {
    text-decoration: none;
   }
  header nav {
    float: right;
    margin: 0px 0px;
  }
  header nav ul li {
    display: inline;
    color: #39a6b2;
  }
  header nav ul li a {
    margin: 0px 30px;
    font-weight: lighter;
    font-size: 22px;
    color: #39a6b2 ;
  }
  
  
  
  * {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  section {
    padding: 60px;
    display: flex;
    flex-wrap: wrap;
   
    
   
   
  }
  
  
  .hero {
    
    height: 600px;
    background-image: url("../images/header-2.jpg");
    background-size: cover;
    background-position: center;
      
  }
  
  .hero-cta {
    float: right;
    margin-left: 80%;
  }
  
  .hero h2 {
    
  
    
    font-size: 40px;
    font:bold;
    color: #024e76;
    background-color: #39a6b2;
    width:fit-content;
  }
  
  
  
    .section-title {
      font-size: 30px;
      color: #024e76;
     
     float: right;
      
      display: flex;
      flex-wrap: wrap;
      
      width: 30%;
      
     
      
  }
 
  
  
   
  .intro {
    display: flex;
    flex-wrap: wrap;
    padding-right:80px;
  }
  
  .intro p {
    line-height: 1.7;
    color: #024e76;
    width: 60%;
    font-size: 20px;
    padding-left: 70px;
    
    
  }
  
  
  
  
  .work {
  
   display: flex;
   padding-right: 80px;
   
  
   
  } 
  .portfolio {
    display: flex;
    flex-wrap: wrap;
    float: center;
    width: 60%;
    padding: 20px;
    margin-left:60px;
  }
  .project  {
    display:flex;
    flex-wrap: wrap;
    
    
    float: right ;
    width: 300px;
    height: 200px;
    
   
    border: 5px solid;
    color: #39a6b2;

    margin: 7px;
    

    
    

    

   
  }
  .name {
    display: inline;
    background-color: #39a6b2;
    width: 100px;
    height: 60px;
    margin-top: 25px;
  
     
  }
  
  .project h3 {
    font-size: 12px;
    font-style: bold;
    color: #024e76;
    text-align: center;
    margin-top: 10px;
  }
  
  
  .project h4 {
    font-size: 8px;
    color: #024e76;
    text-align: center;
    
  }
  
  
 
  
    
  
  
  
  
  
  .hero {
    background-position: bottom;
    height: auto;
    text-align: center;
    margin-bottom: 40px;
  }
  
  
  
  .contact { 
    display: flex;
    flex-wrap: wrap;
  }
  
 
  .c-details {
    display: flex;
    flex-wrap: wrap;
    float: right;
    width: 60%;
    padding: 10px;
    padding-left: 20px;
    
  
  }
  .c-details ul{
    display: flex;
    flex-wrap: wrap;
    float: right;
    width: 100%;
    margin-left: 60px;
    justify-content:space-evenly;
    
    
  }
 
  .c-details ul li{
    
    display: flex ;
    flex-wrap: wrap;
    font-weight: bold;
    font-size: 20px;
    color: #000000;
    border-bottom:  #024e76 solid 4px;
    
    
  }
  
 
  .section-title {
    border-right: 4px solid #024e76 ;
  }
  
 .one {
   background-image: url("../images/header.jpg");
   background-size: cover;
 } 
  
 .two {
   background-image: url("../images/red-led-wall.jpg");
   background-size: cover;
 }
 .three {
   background-image: url("../images/Screenshot\ 2022-01-09\ 193836.png");
   background-size: cover;
   
 }
 .four {
   background-image: url("../images/sand.jfif");
 }
 .five {
   background-image: url("../images/hero-bg.jpg");
   background-size: cover;
 }
.project:hover {
  
  width: 600px;
  height: 400px;
  

}
 
nav ul li :hover {
  font-size: 40px;
  font-weight: bold;

}
