body {
    font-family: Arial, Helvetica, sans-serif; 
    color:  #024e76;
} 
.main-header {
    background-image: url("../images/header");
    background-repeat: cover;
    display: flex;
    flex: wrap;
}
.section-title {
    display: flex;
    flex: wrap
    
}
